<div class="product">
  <h2>
    <% if display_link_to_show %>
      <h2><%= link_to product.name, product %></h2>
    <% else %>
      <%= product.name %>
    <% end if %>
  </h2>

  <%= if product.image_filename.present? %>
    <%= image_tag product.image_filename %>
  <% end %>

  <p>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>
  <p><%= link_to 'Edit', edit_product_path(product) %></p>
</div>
