<p id="notice"><%= notice %></p>

<!-- <div class="product">
	<h2>
	  <%= @product.name %>
	</h2>

	<p>
	  <%= @product.description %>
	</p>

	<p>
	  <strong>Price:</strong>
	  <%= number_to_currency(@product.price) %>
	</p>
</div> -->
<%= render partial: 'product',
		   object: @product,
		   locals: { display_link_to_show: false } %> 

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
