<!DOCTYPE html>
<html>
<head>
  <title>ReallySimpleStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <header> 
	<h1>Welcome to my store</h1>
</header> -->
<!-- top commented block inside a shared folder called _header.html.erb -->
<%= render 'shared/header' %>

<%= yield %>

</body>
</html>
